body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

.first{
  background-image: url(../IMG_1067.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  margin: 0;
  position: relative;
}

.take{
  position: absolute;
  left: 10%;
  top: 220px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  background-color: rgba(100, 200, 4000, 0.7);
}

.take h2{
  font-size: 34px;
  margin: 0 0 20px;
}

.twoway{
  margin: 0;
  font-size: 20px;
  color:  black;
}

.portfolio{
  margin: 10px 0 0;
  font-size: 18px;
  color:black;
}
.take span{
  color: #fff;
  font-weight: bold;
}

.takepage{
  position: absolute;
  width: 56%;
  text-align: center;
  display: block;
  letter-spacing: 4px;
  background: #000;
  left:22%;
  bottom:2px;
  height: 30px;
  line-height: 30px;
}

.takepage a{
  color: white;
  font-weight: bold;
}

header{
  background-color: rgb(81, 87, 94);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header-bar{
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px 0;
}

.header-bar a{
  color: #fff;
  transition: all 400ms;
}

.header-bar a:hover{
  color: goldenrod;
}

#about{
  background-color: #364549;
  padding: 20px;
  position: relative;
}

 #about h3{
  text-decoration: underline;
  text-decoration-color:goldenrod; 
  text-decoration-thickness: ;
}

#about p{
  letter-spacing: 1px;
}

.sns{
  position: absolute;
  right: 20px;
  top :39px;
}

.sns a{
  color: #fff;
}

.sns a i{
  font-size: 20px;
  margin-right: 10px;
}


#teams{
  background-color: cadetblue;
  padding: 20px 20px 40px;
}

#teams h3{
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

table{
  width: 70%;
  margin: 0 auto; 
  border-collapse: collapse;
}
th,td{
  padding: 8px 0;
  border: 2px solid #364549;
}

td{
  text-align: center;
}

#videos{
  background-color: #364549;
  padding: 20px;
}

#videos h3{
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.video{
  margin-bottom: 50px;
}

.video iframe{
  margin :20px auto 0;
  display: block;
  width: 90%;
}

.video h4{
  margin-bottom: 5px;
  text-align: center;
}

.video p{
 text-align: center;
}

#garally{
  background-color: cadetblue;
  padding: 20px;
}

#garally h3{
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.slick{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.slick li{
  width: 100%;
}

.slick img{
  height: 350px;
  display: block;
  margin: 0 auto;
}

#sponsors{
  background-color: #364549;
  padding: 20px;
  width: 100%;
}

#sponsors h3{
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.sponsors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.sponsor{
  margin-bottom: 30px;
}

.sponsor img{
  display: block;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.sponsor h4{
  margin-bottom: 10px;
}

.sponsor h4:nth-of-type(even){
  color: goldenrod;
}

.sponsor a{
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 0 10px ;
}

.sponsor i{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

#contact{
  background-color: cadetblue;
  padding: 20px;
}

#contact h3{
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.contact-form{
  margin: 0 auto;
}

.contact-form input{
  margin: 0 auto 10px;
  display: block;
  width: 60%;
  height: 30px;
  padding-left: 10px;
}

.contact-form textarea{
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 10px;
}

.contact-form button{
  display: block;
  width: 20%;
  height: 40px;
  background-color:#364549 ;
  color: #fff;
  margin: 20px auto 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.5px;
}

@media(min-width  :1000px){
  .first{
    background-position: top;
  }
  
  .take{
    top: 350px;
    left: 15%;
    padding: 20px 0;
    width: 70%;
  }

  .take h2{
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  
  .for-lg{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

#about{
  border-bottom: 1px solid black;
}

#teams{
  border-bottom: 1px solid black;
}

  table{
    height: 250px;
    margin-top: 50px;
  }
  
  #videos{
   border-bottom: 1px solid black;
  }
  
.for-lg2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.for-lg3{
  display: grid;
  grid-template-columns: 50% 50%;
}

#garally{
  border-bottom: 1px solid black;
}

#sponsors{
  border-bottom: 1px solid black;
}

.sponsors{
  margin-top: 42px;
}

.slick {
  margin-top: 50px;
}

.slick img{
  height: 400px;
}
 
}

@media(max-width:500px){

  .takepage{
    width: 100%;
    left: 0%;
  }
  
  .header-bar{
    width: 100%;
    padding: 10px 1px;
  }

  .header-bar a{
   font-size: 10px;
  }

  #sponsors{
    padding: 40px 0 0 0;
    width: 100%;
  }
  
  #sponsors h3{
    margin: 0 0 20px 20px;
  }
 
  .sponsor img{
    height: 70px;
  }
  
  .sponsor h4{
    margin-bottom: 10px;
  }
  
  .contact-form button{
    width: 20%;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
  
}
